---
import { getImage } from "@astrojs/image";

import "@styles/fonts.scss";
import "@styles/variables.scss";

const { src: illustrationWebsite } = await getImage({
  src: import("@assets/images/illustration_website.png"),
});

const { src: bob } = await getImage({
  src: import("@features/listing/assets/bob.png"),
});

const { src: infizio } = await getImage({
  src: import("@features/listing/assets/infizio.png"),
});

const { src: recyclerie } = await getImage({
  src: import("@features/listing/assets/recyclerie.png"),
});

const { src: kraken } = await getImage({
  src: import("@features/listing/assets/kraken.png"),
});

const { src: passy } = await getImage({
  src: import("@features/listing/assets/passy.png"),
});
---

<section class="section section--columns">
  <div class="columns">
    <div class="column-wrap">
      <div class="column">
        <div class="column__item">
          <div
            class="column__item-img"
            style=`background-image:url(${illustrationWebsite})`
          >
          </div>
        </div>
        <div class="column__item">
          <div class="column__item-img" style=`background-image:url(${bob})`>
          </div>
        </div>
        <div class="column__item">
          <div
            class="column__item-img"
            style=`background-image:url(${infizio})`
          >
          </div>
        </div>
      </div><!-- /column -->
    </div><!-- /column-wrap -->
    <div class="column-wrap">
      <div class="column">
        <div class="column__item">
          <div
            class="column__item-img"
            style=`background-image:url(${recyclerie})`
          >
          </div>
        </div>
        <div class="column__item">
          <div
            class="column__item-img"
            style=`background-image:url(${recyclerie})`
          >
          </div>
        </div>
        <div class="column__item">
          <div
            class="column__item-img"
            style=`background-image:url(${illustrationWebsite})`
          >
          </div>
        </div>
        <div class="column__item">
          <div class="column__item-img" style=`background-image:url(${kraken})`>
          </div>
        </div>
      </div><!-- /column -->
    </div>
    <div class="column-wrap">
      <div class="column">
        <div class="column__item">
          <div
            class="column__item-img"
            style=`background-image:url(${illustrationWebsite})`
          >
          </div>
        </div>
        <div class="column__item">
          <div class="column__item-img" style=`background-image:url(${kraken})`>
          </div>
        </div>
        <div class="column__item">
          <div class="column__item-img" style=`background-image:url(${passy})`>
          </div>
        </div>
      </div><!-- /column -->
    </div><!-- /column-wrap -->
  </div><!-- columns -->
</section>

<style lang="scss">
  .section {
    line-height: 1;
    position: static;
    top: 0;
    z-index: 4;
    width: 100%;
    min-height: 100vh;
    background: var(--color-bg);
  }

  .section--columns {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;

    padding-top: clamp(58px, 5.8rem, 5.8rem);

    line-height: 1;
    min-height: 100vh;
    background: var(--color-bg);
  }

  .columns {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: var(--justify);
    gap: var(--gap);
    height: 100%;
    transform: rotate(var(--rotation));
    align-items: center;
    will-change: transform, opacity;
  }

  .column-wrap {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 5vh 0 15vh;
    will-change: transform;
  }

  .column-wrap:nth-child(even) {
    margin-top: var(--offset);
  }

  .column {
    position: relative;
    display: block;
    will-change: transform;
  }

  .column__item {
    --grid-item-height: calc(var(--grid-item-width) * var(--ratio));
    width: var(--grid-item-width);
    height: var(--grid-item-height);
    position: relative;
    overflow: hidden;
    border-radius: var(--radius);
    cursor: pointer;
    margin: 0 0 var(--gap) 0;
    z-index: 1;
    will-change: transform, filter;
  }

  .column__item-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    will-change: transform;
  }
</style>
