---
import { Image } from '@astrojs/image/components';
import { SanityImage } from '@interfaces/SanityImage';

// import Color1 from './Color1.astro';
// import Color2 from './Color2.astro';
// import Color3 from './Color3.astro';

interface AstroProps {
  color1: SanityImage;
  color2: SanityImage;
  color3: SanityImage;
}

const { color1, color2, color3 } = Astro.props as AstroProps;
---

<div class="wrapper-colors">
  <div>
    <Image
      src={color1.asset.url}
      alt="couleur 1"
      width={color1.asset.metadata.dimensions.width}
      height={color1.asset.metadata.dimensions.height}
      format="avif"
    />
  </div>
  <div>
    <Image
      src={color2.asset.url}
      alt="couleur 2"
      width={color2.asset.metadata.dimensions.width}
      height={color2.asset.metadata.dimensions.height}
      format="avif"
    />
  </div>
  <div>
    <Image
      src={color3.asset.url}
      alt="couleur 3"
      width={color3.asset.metadata.dimensions.width}
      height={color3.asset.metadata.dimensions.height}
      format="avif"
    />
  </div>
</div>

<style lang="scss" is:global>
  .wrapper-colors {
    display: flex;
    gap: 7rem;
    margin-top: 1.4rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 6rem;

    @media screen and (max-width: 768px) {
      order: -1;
      margin-top: 48px;
    }
  }

  .wrapper-colors .color {
    position: relative;
    display: inline-block;
    .color-name {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      margin-left: 1.6rem;
      font-size: 2.2rem;
      text-transform: uppercase;
      letter-spacing: 1.1px;
    }
    &.color-2 {
      top: 30px;
      left: 13px;
      .color-name {
        margin-left: -10px;
      }
    }
  }
</style>
