---
import { Image } from '@astrojs/image/components';
import illustrationWebsite from '@assets/images/illustration_website.png';
import illustrationPackaging from '@assets/images/illustration_packaging.png';
import illustrationSocial from '@assets/images/illustration_social.png';
import illustrationLogo from '@assets/images/illustration_logo.png';
import illustrationIdentity from '@assets/images/illustration_identity.png';
---

<script>
  import gsap from 'gsap';
  import { splitAndReveal, ParamsSplitAndReveal } from '@helpers/gsap';

  window.addEventListener('load', () => {
    const paramsSplitAndRevealSubtitlePackaging: ParamsSplitAndReveal = {
      element: '#subtitle-packaging',
      typeSplit: 'chars',
      trigger: '#section-projets',
    };
    const paramsSplitAndRevealSubtitleWebsite: ParamsSplitAndReveal = {
      element: '#subtitle-website',
      typeSplit: 'chars',
      trigger: '#section-projets',
    };
    const paramsSplitAndRevealSubtitleSocial: ParamsSplitAndReveal = {
      element: '#subtitle-social',
      typeSplit: 'chars',
      trigger: '#section-projets-title',
    };
    const paramsSplitAndRevealSubtitleIdentity: ParamsSplitAndReveal = {
      element: '#subtitle-identity',
      typeSplit: 'chars',
      trigger: '#section-projets-title',
    };
    const paramsSplitAndRevealSubtitleLogo: ParamsSplitAndReveal = {
      element: '#subtitle-logo',
      typeSplit: 'chars',
      trigger: '#subtitle-identity',
    };

    splitAndReveal(paramsSplitAndRevealSubtitlePackaging);
    splitAndReveal(paramsSplitAndRevealSubtitleWebsite);
    splitAndReveal(paramsSplitAndRevealSubtitleLogo);
    splitAndReveal(paramsSplitAndRevealSubtitleSocial);
    splitAndReveal(paramsSplitAndRevealSubtitleIdentity);

    gsap
      .timeline({
        scrollTrigger: {
          trigger: `#section-projets-title`,
          start: 'top center', // when the top of the trigger hits the center of the viewport
        },
      })
      // Reveal title
      .from('#section-projets-title', {
        opacity: 0,
        scale: 0.995,
        duration: 1.5,
        ease: 'power1.inOut',
      })
      .fromTo(
        `#draw-for-you__path`,
        {
          drawSVG: false,
        },
        {
          drawSVG: true,
          ease: `power3.inOut`,
          duration: 1.5,
        }
      )
      // Reveal description
      .to(`#section-projets-description`, {
        opacity: 1,
        delay: -1,
        duration: 1.5,
        ease: 'power1.inOut',
      });
  });
</script>

<section id="section-projets" class="section-projets">
  <div class="wrapper-description-title">
    <h2 id="section-projets-title" class="title">
      What would i draw for <span id="draw-for-you" class="yes zigwigwi">
        you <svg
          class="svg-zigwigwi"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 500 150"
          preserveAspectRatio="none"
        >
          <path
            id="draw-for-you__path"
            class="path-zigwigwi"
            d="M9.3,127.3c49.3-3,150.7-7.6,199.7-7.4c121.9,0.4,189.9,0.4,282.3,7.2C380.1,129.6,181.2,130.6,70,139 c82.6-2.9,254.2-1,335.9,1.3c-56,1.4-137.2-0.3-197.1,9"
          ></path>
        </svg>
      </span> ?
    </h2>
    <p id="section-projets-description" class="description opacity-0">
      Drawmeasheep is an innovative graphic studio. It was a created by Mélody
      A.Nour, a freelance graphic designer that has always been passionate in
      all kinds of visual arts. The studio also provides you with all kind of
      graphic & web services. The goal is to be able to create a very unique
      identity for your brand. Let's make your creative project happen.
    </p>
  </div>
  <!-- WEBSITE -->
  <div class="wrapper-illustration-title website">
    <div class="relative">
      <h3
        class="sub-title"
        id="subtitle-website"
        class="split-text"
        data-speed="0.93"
        data-lag="0.04"
      >
        Website
      </h3>
      <div class="illustration" data-speed="1.07" data-lag="0.05">
        <Image src={illustrationWebsite} alt="Illustration website" />
      </div>
    </div>
  </div>

  <!-- IDENTITY -->
  <div class="wrapper-illustration-title identity">
    <div class="relative">
      <h3
        id="subtitle-identity"
        class="sub-title"
        data-speed="0.93"
        data-lag="0.04"
      >
        Identity
      </h3>
      <div class="illustration" data-speed="0.95" data-lag="0.05">
        <Image src={illustrationIdentity} alt="Illustration identity" />
      </div>
    </div>
  </div>

  <!-- LOGO -->
  <div class="wrapper-illustration-title logo">
    <div class="illustration" data-speed="0.98" data-lag="0.04">
      <Image src={illustrationLogo} alt="Illustration logo" />
    </div>
    <h3 id="subtitle-logo" class="sub-title" data-speed="1.05" data-lag="0.03">
      Logotype
    </h3>
  </div>

  <!-- SOCIAL -->
  <div
    class="wrapper-illustration-title social"
    data-speed="0.95"
    data-lag="0.05"
  >
    <div class="relative">
      <h3
        id="subtitle-social"
        class="sub-title"
        data-speed="0.95"
        data-lag="0.05"
      >
        Social networks
      </h3>
      <div class="illustration" data-speed="1.05" data-lag="0.04">
        <Image src={illustrationSocial} alt="Illustration social" />
      </div>
    </div>
  </div>

  {
    /* <div class="wrapper-illustration-title layout" data-speed="0.85">
    <div class="illustration">
      <Image
        src="../../../../assets/images/illustration_layout.png"
        alt="Illustration layout"
      />
    </div>
  </div> */
  }
  <!--PACKAGING -->
  <div class="wrapper-illustration-title packaging">
    <h3
      id="subtitle-packaging"
      class="sub-title"
      data-speed="0.95"
      data-lag="0.05"
    >
      Packaging
    </h3>
    <div class="relative" data-speed="1.02" data-lag="0.04">
      <div class="illustration">
        <Image src={illustrationPackaging} alt="Illustration packaging" />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .section-projets {
    position: relative;
    margin: 0 auto;
    max-width: 164rem;
    z-index: 10;
    font-size: 2.4rem;
    height: clamp(1000px, 125rem, 2450px);

    @media screen and (max-width: 766px) {
      height: auto;
    }

    @media screen and (max-width: 766px) {
      margin-top: 35px;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .title {
      text-align: center;
      font-size: clamp(
        34px,
        var(--font-size-heading),
        var(--font-size-heading)
      );
    }

    .sub-title {
      font-size: clamp(32px, 4.5rem, 4.5rem);
    }

    .wrapper-description-title {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      max-width: 56.1rem;
      top: 44.4rem;

      @media screen and (max-width: 766px) {
        position: relative;
        top: initial;
        left: initial;
        margin-bottom: 35px;
        max-width: 100%;
        transform: translate(0%);
      }

      .description {
        font-size: 1.6rem;
        line-height: 2.3rem;
        letter-spacing: 0.128rem;
        text-align: center;
        margin-top: 4.4rem;
        padding: 0 2rem;

        @media screen and (max-width: 766px) {
          display: none;
        }
      }
    }
    .wrapper-illustration-title {
      position: absolute;

      @media screen and (max-width: 766px) {
        position: relative;
        margin-bottom: 35px;
      }

      &.website {
        top: 11.6rem;
        left: 0;
        padding-left: 4rem;

        @media screen and (max-width: 766px) {
          top: initial;
          left: initial;
          padding-left: 55px;
        }

        .illustration {
          max-width: 35.9rem;
          @media screen and (max-width: 766px) {
            max-width: 203px;
          }
        }
        .sub-title {
          position: absolute;
          top: 16.4rem;
          left: -12.2rem;
          color: var(--color-text);
          transform: rotate(-90deg);

          @media screen and (max-width: 766px) {
            left: -97px;
          }
        }
      }

      &.layout {
        top: 0;
        left: 55rem;
        .illustration {
          max-width: 20rem;
        }
      }

      &.packaging {
        top: 4.8rem;
        left: 110.8rem;
        @media screen and (max-width: 766px) {
          top: initial;
          left: initial;
        }

        .illustration {
          max-width: clamp(300px, 34.5rem, 34.5rem);
        }
        .sub-title {
          padding-left: 3.6rem;
          margin-bottom: 1.1rem;
        }
      }

      &.social {
        top: 40.1rem;
        left: 132.5rem;

        @media screen and (max-width: 766px) {
          top: initial;
          left: initial;
          display: flex;
          justify-content: flex-end;
          width: 100%;
        }

        .illustration {
          max-width: clamp(210px, 31rem, 31rem);
        }
        .sub-title {
          position: absolute;
          top: 20.9rem;
          left: -19.1rem;
          z-index: 10;
          transform: rotate(-270deg);
          -webkit-text-stroke: 1px black;
          color: transparent;

          @media screen and (max-width: 766px) {
            transform: rotate(-90deg);
            width: 280px;
            left: -168px;
            top: 120px;
          }
        }
      }

      &.logo {
        top: 86.7rem;
        left: 69rem;
        @media screen and (max-width: 766px) {
          top: initial;
          left: initial;
        }

        .illustration {
          max-width: clamp(166px, 18.1rem, 18.1rem);
        }
        .sub-title {
          margin-top: 1.4rem;
        }
      }

      &.identity {
        top: 57.6rem;
        left: 22.2rem;

        @media screen and (max-width: 766px) {
          top: initial;
          left: initial;

          display: flex;
          width: 100%;
          justify-content: end;
        }

        .illustration {
          max-width: clamp(237px, 25.9rem, 25.9rem);
        }

        .sub-title {
          position: absolute;
          top: 16.4rem;
          left: -9.8rem;
          z-index: 10;
          transform: rotate(270deg);
          -webkit-text-stroke: 1px black;
          color: transparent;

          @media screen and (max-width: 766px) {
            left: -32.8rem;
          }
        }
      }
    }
  }
</style>
