---
interface AstroProps {
  detail: string;
  presentation: any[];
  presentationMobile: any[];
}
import { toHTML } from '@portabletext/to-html';
import { Image } from '@astrojs/image/components';
import illustrationBook from '@assets/images/illustration_book.png';
import illustrationCrayon from '@assets/images/illustration_crayon.png';
import illustrationFingers from '@assets/images/illustration_fingers.png';
import illustrationLetters from '@assets/images/illustration_letters.png';
import { portableTextComponents } from '@helpers/portableTextComponents';
import LogoMark from '../LogoMark.astro';

const { detail, presentation, presentationMobile } = Astro.props as AstroProps;
const presentationHTML = toHTML(presentation, {
  components: portableTextComponents,
});
const presentationMobileHTML = toHTML(presentationMobile, {
  components: portableTextComponents,
});
---

<script>
  import { switchCanva, revealText } from './SectionPresentation.animation';

  switchCanva();
  window.addEventListener('load', () => {
    revealText();
  });
</script>

<section id="section-presentation" class="section-presentation">
  <div data-speed="1.05" data-lag="0.025" class="wrapper-logo-mark desktop">
    <LogoMark />
  </div>
  <div
    class="illustration book wrapper-overflow opacity-0"
    data-speed="1.05"
    data-lag="0.025"
  >
    <Image
      width={372}
      height={404}
      format="avif"
      loading={'eager'}
      src={illustrationBook}
      alt="Illustration book"
    />
    <div class="reveal"></div>
  </div>
  <div
    class="illustration crayon wrapper-overflow opacity-0"
    data-speed="0.98"
    data-lag="0.03"
  >
    <Image
      loading={'eager'}
      format="avif"
      src={illustrationCrayon}
      alt="Illustration crayon"
    />
    <div class="reveal"></div>
  </div>
  <div class="illustration fingers opacity-0">
    <div class="relative">
      <div class="wrapper-overflow" data-speed="1.1" data-lag="0.025">
        <Image
          format="avif"
          src={illustrationFingers}
          alt="Illustration fingers"
          class="finger-img"
        />
        <div class="finger-reveal reveal"></div>
      </div>
      <div
        class="illustration letters wrapper-overflow opacity-0"
        data-speed="1.2"
        data-lag="0.03"
      >
        <Image
          format="avif"
          loading={'eager'}
          src={illustrationLetters}
          alt="Illustration letters"
        />
        <div class="reveal"></div>
      </div>
    </div>
  </div>
  <div
    class="intro-presentation opacity-0 desktop"
    data-speed="0.95"
    data-lag="0.025"
    set:html={presentationHTML}
  >
  </div>
  <div
    class="intro-presentation opacity-0 mobile"
    data-speed="0.95"
    data-lag="0.025"
    set:html={presentationMobileHTML}
  >
    <div class="wrapper-logo-mark">
      <LogoMark />
    </div>
  </div>

  <div
    id="intro-detail"
    class="intro-detail opacity-0"
    data-speed="0.98"
    data-lag="0.03"
  >
    {detail}
  </div>
</section>

<style lang="scss" is:global>
  .section-presentation {
    position: relative;
    margin: 12.3rem auto;
    padding: 12.3rem 0 0 0;
    height: clamp(400px, 70rem, 70rem);
    max-width: 164rem;
    z-index: 10;
    font-size: 2.4rem;

    .wrapper-logo-mark {
      position: absolute;
      top: 11rem;
      left: 42rem;
      z-index: 10;
      width: clamp(102px, 20.7rem, 20.7rem);
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    @media screen and (max-width: 1300px) {
      height: 530px;
      max-width: 100%;
      padding: 12.3rem 35px 0 35px;
    }

    @media screen and (max-width: 768px) {
      height: auto;
    }

    .reveal {
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.25s linear;
      .canva-white & {
        background-color: #fff;
      }
      .canva-black & {
        background-color: #fff;
      }
      z-index: 10;
      width: 100%;
      height: 100%;
    }

    .wrapper-overflow {
      overflow: hidden;
    }

    .illustration {
      position: absolute;

      @media screen and (max-width: 550px) {
        display: none;
      } // TODO

      &.fingers {
        top: 6.8rem;
        left: 0;
        img {
          max-width: 33.9rem;
        }
      }

      &.book {
        top: 0;
        left: 55rem;
        img {
          max-width: 18.6rem;
        }

        .wrapper-logo-mark {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 207px;
        }
      }

      &.letters {
        bottom: 0;
        right: 0;
        transform: translate(50%, 50%);
        img {
          max-width: 20.4rem;
        }
      }

      &.crayon {
        bottom: 0;
        left: 55rem;
        img {
          max-width: 25.8rem;
        }
      }
    }

    .intro-presentation {
      position: relative;
      margin-left: 69rem;
      margin-top: 12rem;
      font-size: clamp(19px, 3rem, 3rem);
      max-width: 57.1rem;
      line-height: 1.2;
      letter-spacing: 0.2rem;
      font-family: var(--text-body-bold);

      .wrapper-logo-mark {
        position: absolute;
        bottom: 0;
        right: 0;
      }

      &.desktop {
        display: inherit;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      &.mobile {
        display: none;
        @media screen and (max-width: 768px) {
          display: inherit;
        }
      }

      .wrapper-logo-mark {
        width: clamp(102px, 20.7rem, 20.7rem);
      }

      @media screen and (max-width: 768px) {
        padding: 0;
        margin: 0;
        max-width: 100%;

        p {
          margin-bottom: 16px;
          &:nth-child(3) {
            max-width: 210px;
          }
        }
      }
    }

    .intro-detail {
      position: absolute;
      right: 0;
      margin-top: clamp(48px, 7.2rem, 7.2rem);
      max-width: 67.6rem;
      line-height: 1.4;
      letter-spacing: clamp(2px, 0.2rem, 0.2rem);
      font-weight: 800;
      font-size: clamp(16px, 2.1rem, 2.1rem);
      font-family: MontrealThin;

      @media screen and (max-width: 768px) {
        position: relative;
        max-width: 100%;
        padding: 0;
        right: initial;
      }
    }

    .wrapper-svg {
      position: absolute;
      right: 0;
      bottom: -8px;
      margin-top: 8rem;
      width: 67.6rem;
    }
  }
</style>
