---
import { Image } from '@astrojs/image/components';
import { SanityProject } from '@features/project/interfaces';
import Colors from './colors/Colors.astro';
import DrawMeA from './DrawMeA.astro';
import MainImages from './MainImages.astro';
import PresentationClient from './PresentationClient.astro';

interface AstroProps {
  project: SanityProject;
}

const { project } = Astro.props as AstroProps;

const {
  url,
  altText,
  metadata: {
    dimensions: { height, width },
  },
} = project.typographie.asset;
---

<div class="relative">
  <div class="wrapper-cols">
    <div class="wrapper-col-left">
      <DrawMeA projectColor={project.color1} drawMeA={project.drawMeA} />
      <MainImages mainImages={project.mainImages} />
    </div>
    <div class="wrapper-col-right">
      <PresentationClient
        text={project.excerptRaw}
        projectColor={project.color1}
      />
      <Colors
        color1={project.color1}
        color2={project.color2}
        color3={project.color3}
      />
      <Image src={url} alt={altText} width={width} height={height} format="avif"
      />
    </div>
  </div>
</div>

<style lang="scss">
  .wrapper-cols {
    max-width: 163rem;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    gap: 12rem;
  }

  .wrapper-col-left {
    display: flex;
    flex-direction: column;
  }

  .wrapper-col-right {
    display: flex;
    flex-direction: column;
  }
</style>
