---
import { Image } from '@astrojs/image/components';
import { SanityProject } from '@features/project/interfaces';
import Colors from './colors/Colors.astro';
import DrawMeA from './DrawMeA.astro';
import MainImages from './MainImages.astro';
import { PresentationClient } from './PresentationClientAstro';

interface AstroProps {
  project: SanityProject;
}

const { project } = Astro.props as AstroProps;

const {
  url,
  altText,
  metadata: {
    dimensions: { height, width },
  },
} = project.typographie.asset;
---

<div class="relative">
  <div class="wrapper-cols">
    <div class="wrapper-col-left">
      <DrawMeA projectColor={project.mainColor} drawMeA={project.drawMeA} />
      <MainImages mainImages={project.mainImages} />
    </div>
    <div class="wrapper-col-right">
      <PresentationClient
        text={project.excerptRaw}
        textColor={project.colorExcerpt}
        projectColor={project.mainColor}
      />
      <Colors
        color1={project.color1}
        color2={project.color2}
        color3={project.color3}
      />
      <Image
        class="typographie"
        src={url}
        alt={altText}
        width={width}
        height={height}
        format="avif"
      />
    </div>
  </div>
</div>

<style lang="scss">
  .wrapper-cols {
    max-width: 163rem;
    margin-top: 1.4rem;
    margin-left: auto;
    margin-right: auto;

    gap: 125px;
    display: grid;
    grid-template-columns: 1fr 70rem;

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
      max-width: 100%;
      gap: 0;
    }
  }

  .typographie {
    max-width: 54.6rem;
    margin-left: 12rem;
    @media screen and (max-width: 1024px) {
      order: -1;
      max-width: calc(100% - 48px);
      margin-left: 0;
      display: block;
      margin-top: 24px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 48px;
    }
  }

  .wrapper-col-left {
    display: flex;
    flex-direction: column;
    padding-top: 3.2rem;
  }

  .wrapper-col-right {
    display: flex;
    flex-direction: column;
  }
</style>
