---
import { Image } from "@astrojs/image/components";
import { SanityImage } from "@interfaces/SanityImage";
import { Quote } from "../../interfaces";

interface AstroProps {
  images: SanityImage[];
}

const { images } = Astro.props as AstroProps;
---

<script>
  import { animateSectionImagesFooter } from "./SectionImagesFooter.animation";

  document.addEventListener("DOMContentLoaded", () => {
    animateSectionImagesFooter();
  });
</script>

<section
  id="section-images-footer"
  class=`conteneur section-images-footer total-${images.length}`
>
  {
    images.map((image, index) => {
      const {
        url,
        altText,
        metadata: {
          dimensions: { height, width },
        },
      } = image.asset;

      return (
        <div class={`wrapper-flexi`}>
          <div class={`wrapper-image image-${index}`}>
            {
              <div class="o-hidden">
                <img
                  src={url}
                  alt={altText}
                  width={width}
                  height={height}
                  loading="lazy"
                  class="image-footer"
                />
              </div>
            }
          </div>
        </div>
      );
    })
  }
</section>

<style lang="scss">
  .section-images-footer {
    display: flex;
    margin-top: 18.3rem;
    padding-bottom: clamp(24px, 34rem, 34rem);

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .wrapper-flexi:nth-child(even) {
    @media screen and (max-width: 1024px) {
      display: flex;
      justify-content: flex-end;
    }
  }

  .wrapper-image {
    @media screen and (max-width: 1024px) {
      margin-bottom: 24px;
    }
  }

  .image-0 {
    position: relative;
    left: -3.7rem;
    margin-top: 8.5rem;
    max-width: clamp(263px, 67rem, 67rem);

    @media screen and (max-width: 1024px) {
      left: 0;
      margin-top: 24px;
    }
  }

  .image-1 {
    position: absolute;
    left: 50%;
    transform: translateX(-67%);
    max-width: clamp(263px, 39.8rem, 39.8rem);

    @media screen and (max-width: 1024px) {
      position: relative;
      left: 0;
      transform: none;
    }
  }

  .image-2 {
    max-width: clamp(196px, 53.3rem, 53.3rem);
    position: absolute;
    right: 0;
    bottom: clamp(70px, 14rem, 14rem);

    @media screen and (max-width: 1024px) {
      position: relative;
      left: 0;
      transform: none;
      bottom: initial;
    }
  }

  .conteneur {
    position: relative;
    max-width: 163rem;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 1024px) {
    .section-images-footer.total-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      .image-0,
      .image-1 {
        position: relative;
        top: initial;
        left: initial;
        transform: translateX(0);
        margin: 0;
      }
    }

    .section-images-footer.total-2 {
      .wrapper-flexi:nth-child(2) {
        position: relative;
        bottom: 4rem;
        align-self: flex-end;
      }
    }
  }
</style>
