---
import { getImage } from '@astrojs/image';

import { SectionDrawSomething } from '@features/home/components/SectionDrawSomething';
import SectionDrawTogether from '@features/home/components/SectionDrawTogether.astro';
import { SectionHero } from '@features/home/components/SectionHero';
import SectionPresentation from '@features/home/components/SectionPresentation/SectionPresentation.astro';
import SectionProjects from '@features/home/components/SectionProjects/SectionProjects.astro';
import SectionWhoAmI from '@features/home/components/SectionWhoAmI.astro';
import { querySanityHome } from '@features/home/queries/querySanityHome';
import { SanityHome } from '@features/home/interfaces/SanityHome';
import fetchSanity from '@helpers/fetchSanity';
import Layout from '@layouts/Layout.astro';
import Canvas from '@features/home/components/Canvas.astro';

const sanityHome = await fetchSanity<SanityHome>(querySanityHome);
// Section Intro
const presentation = sanityHome && sanityHome.Home.introPresentationRaw;
const presentationMobile =
  sanityHome && sanityHome.Home.introPresentationMobileRaw;
const detail = sanityHome && sanityHome.Home.introDetail;
// Section Projects
const sectionProjectsTitle =
  sanityHome && sanityHome.Home.sectionProjectsTitleRaw;
const sectionProjectsDescription =
  sanityHome && sanityHome.Home.sectionProjectsDescriptionRaw;

const { src: illustrationWebsite } = await getImage({
  src: import('@assets/images/illustration_website.png'),
});
const { src: illustrationPackaging } = await getImage({
  src: import('@assets/images/illustration_packaging.png'),
});
const { src: illustrationSocial } = await getImage({
  src: import('@assets/images/illustration_social.png'),
});
const { src: illustrationLogo } = await getImage({
  src: import('@assets/images/illustration_logo.png'),
});
const { src: illustrationIdentity } = await getImage({
  src: import('@assets/images/illustration_identity.png'),
});

const urlImages = [
  illustrationWebsite,
  illustrationPackaging,
  illustrationSocial,
  illustrationLogo,
  illustrationIdentity,
];
---

<script>
  import { setCanvaStyle } from '@helpers/setCanvaStyle';

  setCanvaStyle('2.23', '2.875', '#000');
</script>

<Layout
  isHome={true}
  background="#FFF"
  title="Graphic Designer at Cagnes sur Mer"
  Canvas={Canvas}
  urlsImages={urlImages}
>
  <div slot="main-content">
    <SectionHero />
    <SectionPresentation
      presentation={presentation}
      presentationMobile={presentationMobile}
      detail={detail}
    />
    <SectionProjects
      sectionProjectsTitle={sectionProjectsTitle}
      sectionProjectsDescription={sectionProjectsDescription}
    />
    <SectionDrawSomething />
    <SectionDrawTogether />
    <SectionWhoAmI />
  </div>
</Layout>
