---
import Canvas from '@features/project/components/Canvas.astro';
import fetchSanity from '@helpers/fetchSanity';
import { queryWhoAmI } from '@features/who-am-i/queries/queryWhoAmI';
import { SanityWhoAmI } from '@features/who-am-i/interfaces/SanityWhoAmI';
import Layout from '@layouts/Layout.astro';
import { Hero } from '@features/who-am-i/components/Hero';
import { Presentation } from '@features/who-am-i/components/Presentation';
const WhoAmI = await fetchSanity<{ WhoAmI: SanityWhoAmI }>(queryWhoAmI);
const sanityWhoAmI = WhoAmI && WhoAmI.WhoAmI;
---

<script>
  import { ParamsSplitAndReveal, splitAndReveal } from '@helpers/gsap';

  const root = document.querySelector(':root');
  //@ts-ignore
  root.style.setProperty('--canva-hue', 2.15);
  //@ts-ignore
  root.style.setProperty('--canva-saturation', 1);

  const paramsSplitAndRevealSubtitleWebsite: ParamsSplitAndReveal = {
    element: '#subtitle-website',
    typeSplit: 'chars',
    trigger: '#section-presentation',
  };

  splitAndReveal(paramsSplitAndRevealSubtitleWebsite);
</script>

<Layout isHome={false} background="#FFF" title="Who am i">
  <div class="wrapper-who-am-i" slot="main-content">
    <Hero sanityWhoAmI={sanityWhoAmI} />
    <Presentation
      portrait={sanityWhoAmI.portrait}
      textPresentation={sanityWhoAmI.presentationRaw}
      textPresentationMobile1={sanityWhoAmI.presentationMobile1Raw}
      textPresentationMobile2={sanityWhoAmI.presentationMobile2Raw}
    />
  </div>
</Layout>

<style lang="scss" is:global>
  .wrapper-who-am-i {
    padding-top: clamp(58px, 5.8rem, 5.8rem);
  }
</style>
