---
import { getImage } from "@astrojs/image";
import { MetaOgImage } from "@components/MetaOgImage";

const { src: defaultOgImage } = await getImage({
  src: import("@assets/images/defaultOgImage.webp"),
});

interface MetaProps {
  title: string;
  description: string;
  slug?: string;
  image: string;
}

const { title, description, slug, image } = Astro.props as MetaProps;

const ogImage = image || import.meta.env.DOMAIN + defaultOgImage;

const slugFinal = slug || "";
---

<title>{title}</title>

<meta name="description" content={description} />

<!-- OpenGraph for Social Media -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content=`${import.meta.env.DOMAIN}/${slugFinal}` />

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@drawmeasheep_design" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />

<MetaOgImage />
