---
import { TitleShowcase } from "@features/listing/components/TitleShowcase";
import { SectionShowcaseRow } from "@features/listing/components/SectionShowcaseRow";
import { SanityProject, SanityProjects } from "@features/project/interfaces";
import fetchSanity from "@helpers/fetchSanity";
import { querySanityProjects } from "@features/project/queries/querySanityProjects";

const projects = await fetchSanity<SanityProjects>(querySanityProjects);

// sort projects by date
const sortedProjects = projects?.allProject.sort(
  (a: SanityProject, b: SanityProject) => {
    const dateA = new Date(a.startedAt);
    const dateB = new Date(b.startedAt);
    return dateB.getTime() - dateA.getTime();
  }
);

const currentDate = new Date();
const currentYear = currentDate.getFullYear();
---

<script>
  import gsap from "gsap";

  document.addEventListener("titleShowcaseAnimationComplete", () => {
    const borderElement = document.querySelector("#section__header__border");
    if (!borderElement) return;

    gsap.to(borderElement, {
      duration: 2, // Animation duration in seconds
      width: "100%", // The target width you want to animate to
      ease: "expo.inOut",
    });
  });
</script>

<section class="section section--showcase">
  <header class="section__header">
    <span class="section__year o-hidden">2000</span>
    <TitleShowcase />
    <span class="section__year o-hidden">{currentYear}</span>
    <div id="section__header__border" class="section__header__border"></div>
  </header>
  {
    sortedProjects?.map((project) => (
      <SectionShowcaseRow
        name={project.title}
        date={project.startedAt}
        slug={project.slug}
        tagline={project.tagline}
        thumbnails={project.thumbnails}
      />
    ))
  }

  <style lang="scss" is:global>
    .section--showcase {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 8rem 5vw 10vh;
      cursor: default;
      line-height: 1;
      top: 0;
      z-index: 4;
      width: 100%;
      background: var(--color-bg);
      box-sizing: border-box;
    }

    .section__year {
      color: var(--color-black-beauty);
      opacity: 0;
    }

    .section__header {
      position: relative;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-around;
      padding: 4vh 8vw;
      margin-bottom: 4rem;
    }

    .section__header__border {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      background-color: var(--color-black-beauty);
      height: 3px;
    }

    .section,
    .row {
      font-size: clamp(14px, 1.6rem, 1.6rem);
    }
  </style>
</section>
