---
import { getImage } from "@astrojs/image";

const { src: illustrationWebsite } = await getImage({
  src: import("@assets/images/illustration_website.png"),
});

const currentDate = new Date();
const currentYear = currentDate.getFullYear();
---

<section class="section section--showcase">
  <header class="section__header">
    <span class="section__year">2000</span>
    <h2 class="section__title section__title--medium">
      Selected <br /> Work
    </h2>
    <span class="section__year">{currentYear}</span>
  </header>
  <a href="/projects/cats-business-club" rel="prefetch" class="row">
    <div class="row__header">
      <span>2000</span>
      <span>Cat's business club</span>
      <span
        >Feline Connections: A Graphical Harmony of Business and Playfulness</span
      >
    </div>
    <div class="row__content">
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
    </div>
  </a>
  <a href="/projects/la-recyclerie" rel="prefetch" class="row">
    <div class="row__header">
      <span>2002</span>
      <span>La recylerie</span>
      <span>Symbolizing reuse, transformation, and care.</span>
    </div>
    <div class="row__content">
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
    </div>
  </a>
  <a href="/projects/infizio" rel="prefetch" class="row">
    <div class="row__header">
      <span>2010</span>
      <span>Infizio</span>
      <span>A modern, futuristic visual embrace</span>
    </div>
    <div class="row__content">
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
    </div>
  </a>
  <a href="/projects/dissidente" rel="prefetch" class="row">
    <div class="row__header">
      <span>2012</span>
      <span>Dissident.e</span>
      <span>Share provocative images</span>
    </div>
    <div class="row__content">
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
    </div>
  </a>
  <a href="/projects/les-reservoirs-de-passy" rel="prefetch" class="row">
    <div class="row__header">
      <span>2012</span>
      <span>Les reservoirs de Passy</span>
      <span>A tribute to Paris, where creativity beholds</span>
    </div>
    <div class="row__content">
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
      <div class="row__content-imgwrap">
        <div
          class="row__content-img"
          style=`background-image:url(${illustrationWebsite})`
        >
        </div>
      </div>
    </div>
  </a>
</section>

<style lang="scss" is:global>
  .section--showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 8rem 5vw 10vh;
    cursor: default;
    line-height: 1;
    top: 0;
    z-index: 4;
    width: 100%;
    background: var(--color-bg);
  }

  .section__year {
    color: var(--color-black-beauty);
  }

  .section__header {
    display: flex;
    border-bottom: 1px solid #000;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 4vh 8vw;
    margin-bottom: 4rem;
  }

  .section__title--medium {
    font-size: clamp(32px, 12vw, 9rem);
  }

  .row {
    text-align: left;
    width: 100%;
  }

  .section,
  .row {
    font-size: clamp(14px, 1.6rem, 1.6rem);
  }

  .row + p a::before {
    content: "";
    height: 1px;
    width: 100%;
    background: currentColor;
    position: absolute;
    top: 90%;
    transition: transform 0.3s;
    transform-origin: 0% 50%;
  }

  .row + p a:hover::before {
    transform: scaleX(0);
    transform-origin: 100% 50%;
  }

  .row + p a {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
  }

  .row__header {
    width: 100%;
    display: grid;
    grid-template-columns: 4ch 1fr;
    grid-template-rows: auto auto;
    grid-gap: 2rem;
    justify-content: start;
    padding: clamp(24px, 6rem, 6rem) 0 3rem;
  }

  .row__header span:last-child {
    grid-column: 1 / span 2;
  }

  .row__content {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    grid-gap: 1rem;
    justify-content: start;
  }

  .row__content-imgwrap {
    overflow: hidden;
    position: relative;
    border-radius: var(--radius-small);
  }

  .row__content-img {
    aspect-ratio: 2;
    height: 100px;
    background-size: cover;
    background-position: 50% 50%;
  }

  .row__content-imgwrap:nth-child(even) .row__content-img {
    aspect-ratio: 1;
  }

  .row__content-imgwrap:nth-child(4n) .row__content-img {
    aspect-ratio: 1.5;
  }

  .row__content-imgwrap:last-child {
    justify-content: end;
  }

  .row__content-imgwrap:last-child .row__content-img {
    aspect-ratio: 2.75;
  }

  .row + p {
    margin-top: 40vh;
  }

  @media screen and (min-width: 53em) {
    .row__header {
      display: grid;
      grid-template-columns: 4ch auto 1fr;
      grid-template-rows: auto;
    }
    .row__header span:last-child {
      justify-self: end;
      grid-column: revert;
    }
  }
</style>
