---
import { getImage } from "@astrojs/image";
import { portableTextComponents } from "@helpers/portableTextComponents";
import { toHTML } from "@portabletext/to-html";

const { src: illustrationWebsite } = await getImage({
  src: import("@assets/images/illustration_website.png"),
});
const { src: illustrationPackaging } = await getImage({
  src: import("@assets/images/illustration_packaging.png"),
});
const { src: illustrationSocial } = await getImage({
  src: import("@assets/images/illustration_social.png"),
});
const { src: illustrationLogo } = await getImage({
  src: import("@assets/images/illustration_logo.png"),
});
const { src: illustrationIdentity } = await getImage({
  src: import("@assets/images/illustration_identity.png"),
});

interface AstroProps {
  sectionProjectsTitle: any[];
  sectionProjectsDescription: any[];
}

const { sectionProjectsTitle } = Astro.props as AstroProps;

const sectionProjectsTitleHTML = toHTML(sectionProjectsTitle, {
  components: portableTextComponents,
});
---

<script>
  import { createCanvas } from "@helpers/createCanvas";

  import {
    setIllustrationsLagAndSpeed,
    setTextsLagAndSpeed,
    hideImages,
  } from "./SectionProjects.functions";
  import { revealProjects, revealTexts } from "./SectionProjects.animations";

  if (window.innerWidth > 1024) {
    createCanvas();
  }

  document.addEventListener("DOMContentLoaded", () => {
    setIllustrationsLagAndSpeed();
    setTextsLagAndSpeed();
    revealTexts();
    revealProjects({
      triggerSelector: ".wrapper-illustration-title",
    });
  });

  document.addEventListener("canvasComplete", () => {
    hideImages();
  });
</script>

<section id="section-projets" class="section-projets">
  <div class="wrapper-description-title">
    <h2
      id="section-projets-title"
      class="title"
      set:html={sectionProjectsTitleHTML}
    >
    </h2>

    <p id="section-projets-description" class="description opacity-0">
      Drawmeasheep is an innovative graphic studio. It was a created by Mélody
      A.Nour, a freelance graphic designer that has always been passionate in
      all kinds of visual arts. The studio also provides you with all kind of
      graphic & web services. The goal is to be able to create a very unique
      identity for your brand. Let's make your creative project happen.
    </p>
  </div>
  <!-- WEBSITE -->
  <a
    id="wrapper-website"
    href="/projects/cats-business-club"
    rel="prefetch"
    class="wrapper-illustration-title wrapper-canva-image website"
  >
    <div class="relative">
      <h3
        class="sub-title split-text o-hidden"
        id="subtitle-website"
        class="split-text"
        data-speed="0.97"
        data-lag="0.04"
      >
        Website
      </h3>
      <div class="illustration" data-speed="1.04" data-lag="0.05">
        <div id="curtain-website" class="curtain-illustration">
          <div id="canva-website" class="canva-holder"></div>
          <div class="curtain">
            <img
              crossorigin=""
              data-sampler="simplePlaneTexture"
              src={illustrationWebsite}
              alt="Illustration website"
            />
          </div>
        </div>
      </div>
    </div>
  </a>

  <!-- IDENTITY -->
  <a
    id="wrapper-identity"
    href="/projects/la-recyclerie"
    rel="prefetch"
    class="wrapper-illustration-title wrapper-canva-image identity"
  >
    <div class="relative">
      <h3
        id="subtitle-identity"
        class="sub-title split-text o-hidden"
        data-speed="0.97"
        data-lag="0.04"
      >
        Identity
      </h3>
      <div class="illustration" data-speed="1.04" data-lag="0.05">
        <div id="curtain-identity" class="curtain-illustration">
          <div id="canva-identity" class="canva-holder"></div>
          <div class="curtain">
            <img
              crossorigin=""
              data-sampler="simplePlaneTexture"
              src={illustrationIdentity}
              alt="Illustration identity"
            />
          </div>
        </div>
      </div>
    </div>
  </a>

  <!-- LOGO -->
  <a
    id="wrapper-infizio"
    href="/projects/infizio"
    rel="prefetch"
    class="wrapper-illustration-title wrapper-canva-image logo"
  >
    <div class="relative">
      <h3
        id="subtitle-infizio"
        class="sub-title split-text o-hidden"
        data-lag="0.04"
      >
        Logotype
      </h3>
      <div class="illustration" data-speed="1.04" data-lag="0.05">
        <div id="curtain-infizio" class="curtain-illustration">
          <div id="canva-infizio" class="canva-holder"></div>
          <div class="curtain">
            <img
              crossorigin=""
              data-sampler="simplePlaneTexture"
              src={illustrationLogo}
              alt="Illustration infizio"
            />
          </div>
        </div>
      </div>
    </div>
  </a>

  <!-- SOCIAL -->
  <a
    id="wrapper-dissidente"
    href="/projects/dissidente"
    rel="prefetch"
    class="wrapper-illustration-title wrapper-canva-image social"
  >
    <div class="relative">
      <h3
        id="subtitle-dissidente"
        class="sub-title split-text o-hidden"
        data-speed="0.97"
        data-lag="0.04"
      >
        Social networks
      </h3>
      <div class="illustration" data-speed="1.04" data-lag="0.05">
        <div id="curtain-dissidente" class="curtain-illustration">
          <div id="canva-dissidente" class="canva-holder"></div>
          <div class="curtain">
            <img
              crossorigin=""
              data-sampler="simplePlaneTexture"
              src={illustrationSocial}
              alt="Illustration dissidente"
            />
          </div>
        </div>
      </div>
    </div>
  </a>

  {
    /* <div class="wrapper-illustration-title wrapper-canva-image layout" data-speed="0.85">
    <div class="illustration">
      <Image
        src="../../../../assets/images/illustration_layout.png"
        alt="Illustration layout"
      />
    </div>
  </div> */
  }
  <!--PACKAGING -->
  <a
    id="wrapper-packaging"
    href="/projects/kraken"
    rel="prefetch"
    class="wrapper-illustration-title wrapper-canva-image packaging"
  >
    <div class="relative">
      <h3
        id="subtitle-packaging"
        class="sub-title split-text o-hidden"
        data-speed="0.97"
        data-lag="0.04"
      >
        Packaging
      </h3>
      <div class="illustration" data-speed="1.04" data-lag="0.05">
        <div id="curtain-packaging" class="curtain-illustration">
          <div id="canva-packaging" class="canva-holder"></div>
          <div class="curtain">
            <img
              crossorigin=""
              data-sampler="simplePlaneTexture"
              src={illustrationPackaging}
              alt="Illustration packaging"
            />
          </div>
        </div>
      </div>
    </div>
  </a>
</section>

<style lang="scss">
  .canva-holder {
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  #canva-website {
    width: 31.5rem;
    height: 31.3rem;
  }
  #canva-identity {
    width: 25.9rem;
    height: 39.3rem;
  }
  #canva-infizio {
    width: 166px;
    height: 179px;

    // @media screen and (max-width:1400px) {
    //   width: 362px;
    //  height: 386px;
    // }
  }
  #canva-dissidente {
    width: 620px;
    height: 1034px;
  }
  #canva-packaging {
    width: 303px;
    height: 226px;
  }

  .illustration .curtain {
    @media screen and (min-width: 1024px) {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .illustration canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  .illustration .curtain img {
    // visibility: hidden;

    @media screen and (max-width: 1024px) {
      visibility: visible;
    }
  }

  .section-projets {
    position: relative;
    margin: 0 auto;
    max-width: 164rem;
    z-index: 10;
    font-size: 2.4rem;
    height: clamp(1000px, 125rem, 2450px);

    @media screen and (max-width: 1024px) {
      height: 100vh;
    }

    @media screen and (max-width: 768px) {
      height: auto;
    }

    @media screen and (max-width: 768px) {
      max-width: 100%;
      margin-top: 35px;
      padding: 12.3rem 35px 0 35px;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .title {
      text-align: center;
      font-size: clamp(
        34px,
        var(--font-size-heading),
        var(--font-size-heading)
      );
    }

    .sub-title {
      font-size: clamp(32px, 4.5rem, 4.5rem);
    }

    .wrapper-description-title {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      max-width: 56.1rem;
      top: 44.4rem;

      @media screen and (max-width: 768px) {
        position: relative;
        top: initial;
        left: initial;
        margin-bottom: 50px;
        max-width: 100%;
        transform: translate(0%);
      }

      .description {
        margin-top: 4.4rem;
        padding: 0 2rem;
        line-height: 1.4;
        letter-spacing: clamp(2px, 0.2rem, 0.2rem);
        font-weight: 800;
        font-size: clamp(16px, 2.1rem, 2.1rem);
        text-align: center;

        font-family: var(--text-body-thin);

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
    .wrapper-illustration-title {
      position: absolute;
      display: block;

      .illustration {
        opacity: 0;
      }

      @media screen and (max-width: 768px) {
        position: relative;
        margin-bottom: 50px;
      }

      &.website {
        top: 11.6rem;
        left: 0;
        padding-left: 4rem;

        @media screen and (max-width: 768px) {
          top: initial;
          left: initial;
          padding-left: 0;
        }

        .illustration {
          max-width: 35.9rem;
          @media screen and (max-width: 768px) {
            max-width: 203px;
            padding-left: 55px;
          }
        }

        .sub-title {
          position: absolute;
          top: 16.4rem;
          left: -12.2rem;
          color: var(--color-text);
          transform: rotate(-90deg);

          @media screen and (max-width: 768px) {
            left: 10px;
            top: 0px;
            writing-mode: vertical-lr;
            transform: rotate(-180deg);
          }
        }
      }

      &.layout {
        top: 0;
        left: 55rem;
        .illustration {
          max-width: 20rem;
        }
      }

      &.packaging {
        top: 4.8rem;
        left: 110.8rem;
        @media screen and (max-width: 768px) {
          top: initial;
          left: initial;
        }

        .illustration {
          max-width: clamp(300px, 34.5rem, 34.5rem);

          @media screen and (max-width: 768px) {
            margin-top: 16px;
          }
        }
        .sub-title {
          padding-left: 3.6rem;
          margin-bottom: 1.1rem;

          @media screen and (max-width: 768px) {
            padding-left: 0;
          }
        }
      }

      &.social {
        top: 40.1rem;
        left: 132.5rem;

        @media screen and (max-width: 1280px) {
          top: 55rem;
          left: 116rem;
        }

        @media screen and (max-width: 1024px) {
          top: initial;
          bottom: 8rem;
        }

        @media screen and (max-width: 768px) {
          top: initial;
          bottom: initial;
          left: initial;
          display: flex;
          justify-content: flex-end;
          width: 100%;
        }

        .illustration {
          max-width: clamp(210px, 31rem, 31rem);
        }
        .sub-title {
          position: absolute;
          top: 20.9rem;
          left: -19.1rem;
          z-index: 10;
          transform: rotate(-270deg);
          -webkit-text-stroke: 1px black;
          color: transparent;

          @media screen and (max-width: 768px) {
            transform: rotate(-180deg);
            writing-mode: vertical-lr;

            top: 0px;
          }
        }
      }

      &.logo {
        bottom: 80px;
        left: 69rem;
        @media screen and (max-width: 768px) {
          bottom: initial;
          left: initial;
        }

        .illustration {
          max-width: clamp(166px, 18.1rem, 18.1rem);
          @media screen and (max-width: 768px) {
            margin-top: 16px;
          }
        }
        .sub-title {
          margin-top: 1.4rem;
        }
      }

      &.identity {
        top: 57.6rem;
        left: 22.2rem;

        @media screen and (max-width: 1374px) {
          left: 14.2rem;
        }
        @media screen and (max-width: 1200px) {
          left: 0rem;
        }

        @media screen and (max-width: 768px) {
          top: initial;
          left: initial;

          display: flex;
          width: 100%;
          justify-content: end;
        }

        .illustration {
          max-width: clamp(237px, 25.9rem, 25.9rem);
        }

        .sub-title {
          position: absolute;
          top: 16.4rem;
          left: -9.8rem;
          z-index: 10;
          transform: rotate(270deg);
          -webkit-text-stroke: 1px black;
          color: transparent;

          @media screen and (max-width: 768px) {
            left: -17px;
            top: 0;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
          }
        }
      }
    }
  }
</style>
